# Ignore the python virtual environment for this project
.venv

# Ignore local path to downloaded LFW dataset
code/toy-problem/labelled-faces-in-the-wild

# Ignore local path to downloaded UTKFace dataset
code/toy-problem-SimCLR/data/UTKFace
